body {
    max-width: 1024px;
    margin: 0 auto;
  }
  header {
    margin: 5px;
  }
  section {
    margin: 5px;
  }
  hr {
    margin: 5px;
  }
  .Photo {
    width: 150px;
    margin: 5px;
  }